.logo-top-div{
  background-color: #252525!important;
  padding-left: 0px!important;
}

.wb_iframe{
  min-width: 100%!important;
}

#replay_iframe{
	height: 100%;
}

@media print
{
*{overflow:visible !important;}    
.printIframe{
    page-break-before: none;
    page-break-after: none;
    display:block;
}
.noprint {display:none;}
}

#divPrintMe{
	display:none;
}

.modalReplay{
	background: #252525;
	color: white;
	border: 1px solid #3E3E3E
}

.modalReplay a, .modalReplay a:hover, .modalReplay a:visited, .modalReplay a:active {
	color: white;
	cursor: pointer;
	border-top: 1px solid #3E3E3E;
}

.modalReplay a:hover{
	background: #515151;
}

.modalReplay .row{
	margin: 0px!important;
}

.modalReplay .leftAnchor{
	border-right: 1px solid #3E3E3E;
}

.modalReplay .modalTitle{
	padding: 20px;
}

.modalTitleComplete{
	padding:20px 20px 0px 20px;
}

.modalReplay .modalparagraph{
	padding-left: 20px;
	padding-right: 20px;
}
.modalReplay .first{
	margin: 10px 0 0 0;
}
.modalReplay  .last{
	margin: 0 0 15px 0;
}

.modalReplay .modalOptions{
	padding-top: 10px;
	padding-bottom: 10px;
}

#uglipop_overlay{
	opacity: 0.7!important;
	z-index: 1;
}

#uglipop_content_fixed{
	z-index: 2;
	min-width: 300px;
}

#loadingAnimation{
	z-index: 2;  
	position: fixed; 
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%); opacity: 1;
	color: white;
	display: none;
}

.maskLoading{
	position: absolute;
	margin:0;
	top:0px;
	width:100%;
	height:100%;
	background-color: black;
	z-index:1;
	opacity: 0.7;
	display: none;
}