<!DOCTYPE html>
<html lang="pt">
<head>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-21825027-6', 'auto');
      ga('send', 'pageview');
    </script>


    <script type="text/javascript">
    sideMenuVersion = false;
    </script>

    <!-- Jquery-->
    <script type="text/javascript">
                document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"static/resources/dependencies/jquery-latest.min.js"+ "><\/script>");
    </script>


    <script type="text/javascript">
    document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"static\/resources\/dependencies\/js.cookie.js"+ "><\/script>");
    </script> <!-- Plugin for cookie to choose language-->

    <script>
        var language = Cookies.get('language');
        if( language == 'EN'){
            document.write('<script type="text/javascript" language="JavaScript" src="'+"{{ wbrequest.wb_prefix }}"+'static/resources/properties/ConstantsEN.js"><\/script>');
        }
        else{
            document.write('<script type="text/javascript" language="JavaScript" src="'+"{{ wbrequest.wb_prefix }}"+'static/resources/properties/ConstantsPT.js"><\/script>');
        }
    </script>
    <!-- Twitter js -->
    <script>
          window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
         
          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };
         
          return t;
        }(document, "script", "twitter-wjs"));
    </script>

    <script>
        function setLang(lang) {
            if(lang == 'EN')
             {
                Cookies.set('language', 'EN', { expires: 30, path: '/', domain: 'p27.arquivo.pt'  });
                window.location.reload();
             }
            else //default language Portuguese
            {
                Cookies.set('language', 'PT', { expires: 30, path: '/', domain: 'p27.arquivo.pt'  });   
                window.location.reload();
            }   
        }
    </script>

    <script type="text/javascript">
    function jumpToVersion (url, currentTs){
        var frameSrc = "{{ wbrequest.wb_prefix }}" + currentTs + 'mp_/' + url;

        $('#a_'+ts).css('font-style', 'normal') //remove the italic from the previous version
        $('#a_'+ts).removeClass('active-day'); // remove the Selected Day CSS class

        var year = ts.substring(0, 4);
        var month = ts.substring(4, 6);
        var day = ts.substring(6, 8);

        if(day.charAt(0) == '0'){
          day = day.charAt(1);
        }

        $('#'+year).removeClass('active');
        $('#'+year+'_'+month).removeClass('active');
        $('#'+year+'_'+month+'_'+day).removeClass('active');


        ts = currentTs; //update current Timestamp

        year = ts.substring(0, 4);
        month = ts.substring(4, 6);
        day = ts.substring(6, 8);

        if(day.charAt(0) == '0'){
          day = day.charAt(1);
        }

        $('#a_'+ts).css('font-style','italic'); //italic the new selected timestamp
        $('#a_'+ts).addClass('active-day'); // add the Selected Day CSS class

        $('#'+year).addClass('active');
        $('#'+year+'_'+month).addClass('active');
        $('#'+year+'_'+month+'_'+day).addClass('active');


        $('#replay_iframe').attr('src', frameSrc); //update the iframe to the new version

        sideMenuVersion = true; // TODO:: improve this Dirty hack global var to define a leftMenu version and preserve leftMenu state
    }
    </script>

    <script>
        function createVersion(timestamp, url)
        //add version with timestamp to the left side menu
        {
            if (timestamp.length < 14) {
                //TODO: add some error message when timestamp is wrong?
                //TODO: REMOVE ALERT?
                //top.alert("Timestamp Error: Invalid Timestamp "+ timestamp);
            }
            else{
                    var year = timestamp.substring(0, 4);
                    var month = timestamp.substring(4, 6);
                    var day = timestamp.substring(6, 8);
                    if(day.substring(0,1) == '0')
                        day = day[1]; //remove the 0 in the day just for presentation purposes
                    var hours = timestamp.substring(8, 10);
                    var minutes = timestamp.substring(10, 12);

                if ($('#'+year).length){
                    //year already exists 
                    if($('#'+year+'_'+month).length){
                        
                        if($('#'+year+'_'+month+'_'+day).length){
                        //if day, month and year already exist  
                                          $('#'+'ul_'+year+'_'+month+'_'+day).append(   
                                                    '<li style="list-style: none;" id = "'+timestamp+'">'
                                          +                         ''
                                          +                             '<a onClick="ga(\'send\', \'event\', \'ReplayBarFunctions\', \'Change Version\', \''+url+' '+timestamp+'\');" href="javascript:jumpToVersion(\''+url+'\', \''+timestamp+'\')" title="'+year+' '+month + ' ' + day +'" id = "a_'+timestamp+'">'+hours+':'+minutes+'</a>'
                                          +                         ''
                                          +                 '</li>');                       
                        }
                        else{
                        //if the month and year already exist
                                          $('#'+'ul_'+year+'_'+month).append(
                                                           '<li style="list-style: none;"><a id ="'+year+'_'+month+'_'+day+'" href="#">'+day+'</a>'
                                          +                     '<ul id = "ul_'+year+'_'+month+'_'+day+'" style="list-style: none; padding: 0; margin: 0; display: none;" class="hours">'
                                          +                         '<li style="list-style: none;" id = "'+timestamp+'">'
                                          +                         ''
                                          +                             '<a onClick="ga(\'send\', \'event\', \'ReplayBarFunctions\', \'Change Version\', \''+url+' '+timestamp+'\');" href="javascript:jumpToVersion(\''+url+'\', \''+timestamp+'\')" title="'+year+' '+month + ' ' + day +'" id = "a_'+timestamp+'">'+hours+':'+minutes+'</a>'
                                          +                         '</li>'
                                          +                     '</ul>'
                                          +                 '</li>');               

                        }

                    }
                    else{
                        //year already exists, add the month 
                        $('#'+'ul_'+year).append(
                                                    '<li style="list-style: none;"><a id ="'+year+'_'+month+'" href="#">'+Content.months[month]+'</a>'
                                          +             '<ul id = "ul_'+year+'_'+month+'"  style="list-style: none; margin: 0; display: none;" class="days">'
                                          +                 '<li style="list-style: none;"><a id ="'+year+'_'+month+'_'+day+'" href="#" >'+day+'</a>'
                                          +                     '<ul id = "ul_'+year+'_'+month+'_'+day+'"  style="list-style: none; padding: 0; margin: 0; display: none;" class="hours">'
                                          +                         '<li style="list-style: none;" id = "'+timestamp+'">'
                                          +                         ''
                                          +                             '<a onClick="ga(\'send\', \'event\', \'ReplayBarFunctions\', \'Change Version\', \''+url+' '+timestamp+'\');" href="javascript:jumpToVersion(\''+url+'\', \''+timestamp+'\')" title="'+year+' '+month + ' ' + day +'" id = "a_'+timestamp+'">'+hours+':'+minutes+'</a>'
                                          +                         '</li>'
                                          +                     '</ul>'
                                          +                 '</li>'
                                          +             '</ul>'
                                          +         '</li>');               

                    }
                }       
                
                else{   
                    $("#yearList").append(
                                            '<li id="toplist">'
                                          +     '<a href="#" id = "'+year+'">' + year +'</a>'
                                          +     '<ul id ="ul_'+year+'" style="list-style: none; display: none;" class="months" >'
                                          +         '<li style="list-style: none;"><a id ="'+year+'_'+month+'" href="#" >'+Content.months[month]+'</a>'
                                          +             '<ul id = "ul_'+year+'_'+month+'"  style="list-style: none; margin: 0; display: none;" class="days">'
                                          +                 '<li style="list-style: none;"><a id ="'+year+'_'+month+'_'+day+'" href="#" >'+day+'</a>'
                                          +                     '<ul id = "ul_'+year+'_'+month+'_'+day+'"  style="list-style: none; padding: 0; margin: 0; display: none;" class="hours">'
                                          +                         '<li style="list-style: none;" id = "'+timestamp+'">'
                                          +                         ''
                                          +                             '<a onClick="ga(\'send\', \'event\', \'ReplayBarFunctions\', \'Change Version\', \''+url+' '+timestamp+'\');" href="javascript:jumpToVersion(\''+url+'\', \''+timestamp+'\')" title="'+year+' '+month + ' ' + day +'" id = "a_'+timestamp+'">'+hours+':'+minutes+'</a>'
                                          +                         '</li>'
                                          +                     '</ul>'
                                          +                 '</li>'
                                          +             '</ul>'
                                          +         '</li>'
                                          +    '</ul>'
                                          + '</li>');
                    $("#toplist").css('list-style','none');


                }


            }

            if(ts == timestamp){  //leave the current version open in the side menu

                $('#'+year).addClass('active');
                $('#'+year+'_'+month).addClass('active');
                $('#'+year+'_'+month+'_'+day).addClass('active');
                $('#a_'+timestamp).addClass('active-day');

                $('#ul_'+year).addClass('open');
                $('#ul_'+year+'_'+month).addClass('open');
                $('#ul_'+year+'_'+month+'_'+day).addClass('open');


                $('#ul_'+year).css('list-style','none'); $('#ul_'+year).css('display','block');
                $('#ul_'+year+'_'+month).css('list-style','none'); $('#ul_'+year+'_'+month).css('display','block');
                $('#ul_'+year+'_'+month+'_'+day).css('list-style','none'); $('#ul_'+year+'_'+month+'_'+day).css('display','block');
                $('#a_'+timestamp).css('font-style','italic');

            }
                
        }
    </script>

    <script>
    function updateVersionsOfUrl(cleanurl)
    {
    /* Uses jquery to make an ajax get request to the Cdx-server api in order to retrieve the list of versions for a specific url */
    var urlsource = cleanurl;
    var timestamp1;
    var url1;

    var requestURL = "{{ wbrequest.wb_prefix }}"+"-cdx"

    $.ajax({
    // example request to the cdx-server api - 'http://arquivo.pt/pywb/replay-cdx?url=http://www.sapo.pt/index.html&output=json&fl=url,timestamp'
       url: requestURL,
       data: {
          output: 'json',
          url: urlsource,
          fl: 'url,timestamp'
       },
       error: function() {
         //top.alert('error: ' + urlsource);
       },
       dataType: 'text',
       success: function(data) {
        $("#yearList").empty();
        $.each(data.split('\n'), function(e){
            if(this != ""){
                var version = jQuery.parseJSON(this);
                createVersion(version.timestamp, version.url); 
            }
            
        }); 

       },
       type: 'GET'
    });



    }
    </script>




    <script>
    function getImageToPrint(encodedURLToPrint)
    {
        var requestURL = "{{ wbrequest.user_metadata.search_location }}/print/";
        //top.alert(requestURL);
        $.ajax({
        // example request to the cdx-server api - 'http://arquivo.pt/print/?url='
           url: requestURL,
           data: {
              url: encodedURLToPrint
           },
           error: function() {
             top.alert('error: ' + requestURL);
           },
           dataType: 'text',
           success: function(data) {
                var theImage = jQuery.parseJSON(data);
                
                $('#divPrintMe').show();
                if($('#imgToPrint').length){ //if 2nd time user prints only update the image
                    $('#imgToPrint').attr('src','data:image/png;base64,'+theImage.imgBase64);
                }
                else{
                    $('#divPrintMe').append('<img id="imgToPrint" style="display: block;" width=600px src="data:image/png;base64,'+ theImage.imgBase64 + '"/>');                    
                }
                window.print();
                $('#divPrintMe').hide();

           },
           type: 'GET'
        });
    }
    </script>

    <script type="text/javascript">
        document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"{{ static_path }}/wb.js"+ "><\/script>");
        document.write("<link rel='stylesheet' href ='"+ "{{ wbrequest.wb_prefix }}"+"{{ static_path }}/wb.css'"+ "\/>");
        document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"{{ static_path }}/wb_frame.js"+ "><\/script>");
    </script> 

    <script>
      wbinfo = {}
      wbinfo.prefix = "{{ wbrequest.wb_prefix }}";
      wbinfo.capture_url = "{{ url }}";
      wbinfo.timestamp = "{{ wbrequest.wb_url.timestamp }}";
      ts = wbinfo.timestamp; //TODO:: maybe in the future remove this variable and use only the above
      wbinfo.is_frame = true;
      wbinfo.frame_mod = "{{ wbrequest.options.frame_mod }}";
      wbinfo.replay_mod = "{{ wbrequest.options.replay_mod }}";
    </script>

    {% include banner_html ignore missing %}

    <!-- Overwriting pywb set_state function in order to properly update our toolbar when iframe changes-->
<script>
function set_state(state) {
    // current url
    url = state.url;
    var truncatedUrl = truncateUrl(url);
    $("#update1").text(truncatedUrl);
 /*   $("#update2").text(truncatedUrl); 

    //update the link to be sent in the email
    $("#sendEmail").attr('href', 'mailto:?subject='+Content.emailMessage+ ' [sub]');

    //update link to list all versions of url in arquivo
    //document.getElementById("historyBack").setAttribute("href","{{ wbrequest.user_metadata.search_location }}/search.jsp?l="+Content.language+"&query="+ url + "&btnSubmit=Pesquisar");
    // current timestamp
    

    //TODO:: Update the URL to generate screenshots
  */  
    ts = state.timestamp; //global variable timestamp
    var urlEncoded = encodeURIComponent('{{ wbrequest.user_metadata.search_location }}/noFrame/replay/'+ts+'/'+url)
    $('#a_screenshot').attr('href', '{{ wbrequest.user_metadata.search_location }}/screenshot/?url='+urlEncoded);

    $('#a_print').attr('href','javascript:getImageToPrint("'+urlEncoded+'")');


   
    theurl= '{{wbrequest.wb_prefix}}'+ts+'/'+url;
    addthis.update('share', 'url', theurl);


    var title = $("#replay_iframe").contents().find("meta[property='og:title']").attr("content");
    if(title === undefined || title === null) // there is no og:title meta tag in this iframe
    {
        title = $("#replay_iframe").contents().find("title").html(); //search for a title tag in the iframe
        if (!title.length){ //there is no title
            //top.alert("No title");
            title = Content.shareMessage;
        }
    }
    title = title + Content.preservedByArquivo;
    document.title = title;
    addthis.update('share', 'title', title);
    addthis.toolbox('.addthis_toolbox', addthis_config, addthis_share);
    $('meta[property="og:url"]').attr('content', theurl);
    /*

    $("#data2").html(ts_to_daymonthyearFormated(ts) + "&nbsp;<span id=\"at2\" class=\"as\">"+Content.at+"</span>&nbsp;" + ts_to_hoursminutes(ts));
    //document.getElementById("versionsTable").setAttribute("href","{{ wbrequest.user_metadata.search_location }}/search.jsp?l="+Content.language+"&query="+ url + "&btnSubmit=Pesquisar");

    $("#data1").html(ts_to_daymonthyearFormated(ts) + "&nbsp;<span id=\"at1\" class=\"as\">"+Content.at+"</span>&nbsp;" + ts_to_hoursminutes(ts));

    //List the versions of current url in the side bar
    */     
    if(sideMenuVersion != true){ // TODO:: improve this Dirty hack global var to define a leftMenu version and preserve leftMenu state
        //top.alert("Updating the Versions on the Side Menu :)");
        updateVersionsOfUrl(url);
    }
    sideMenuVersion =false;

    //the following code is the original code of pywb...
    var capture_info = document.getElementById("_wb_capture_info");
    if (capture_info) {
        capture_info.innerHTML = state.capture_str;
    }

    var label = document.getElementById("_wb_label");
    if (label) {
        if (state.is_live) {
            label.innerHTML = _wb_js.banner_labels.LIVE_MSG;
        } else {
            label.innerHTML = _wb_js.banner_labels.REPLAY_MSG;
        }
    }

    curr_state = state;
}
</script>
<!--end pywb changes -->

    <!--<meta charset="utf-8"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Arquivo.pt</title>
    <link rel="shortcut icon" href="http://arquivo.pt/img/logo-16.jpg" type="image/x-icon">

    <!-- Custom CSS -->
    <script>
        document.write("<link href=\""+ "{{ wbrequest.wb_prefix }}"+"static/resources/css/screen.css\" rel =\"stylesheet\" >");
    </script>
    <!--<link href="css/screen.css" rel="stylesheet">-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
    /*Truncates large URL in the replay bar*/
    function truncateUrl(url)
    {   
        if (url.length > 80){
                var newUrl = url.substring(0, 40) + "..."+ url.substring((url.length - 37),url.length);
                return newUrl
            return url.substring(0,77) + "..."
        }
        else
            return url
    }
    </script>


    <script type="text/javascript">
        $(document).ready(function() {
            var language = Cookies.get('language');
            /*var url = window.location;  
                $('#fb-share-button').attr('data-href', url);
            */
          /*  if ($('#slidedown_menu').length) {
                $('#slidedown_menu ul ul').hide();
            }
          */
            $(document).on('click', '#yearList > li > a, #yearList > li > ul > li > a', function() {
                if ($(this).next().hasClass('open')) {
                    $(this).removeClass('activeItem');
                    $(this).next().slideUp('fast').removeClass('open');
                    $(this).parent().css('list-style','none');                      
                } else {
                    $(this).addClass('activeItem');
                    $(this).next().slideDown('fast').addClass('open');
                    $(this).parent().css('list-style','none');
                    $(this).parent().off('hover');  
                    $(this).off('hover');
                }
                return false;
            });
            
            //special case clicking on the day load the first version of that day
            $(document).on('click', '#yearList > li > ul > li > ul > li > a', function() {
                if ($(this).next().hasClass('open')) {
                    $(this).removeClass('activeItem');
                    $(this).next().slideUp('fast').removeClass('open');
                    $(this).parent().css('list-style','none');                      
                } else {
                    $(this).addClass('activeItem');
                    $(this).next().slideDown('fast').addClass('open');
                    $(this).parent().css('list-style','none');
                    $(this).parent().off('hover');  
                    $(this).off('hover');

                    /*Removed span after li:first*/
                    var versiontoGoTo = $(this).next().find('> li:first > a').attr("id");
                    $('#'+versiontoGoTo)[0].click();
                }
                return false;
            });             
        });
    </script>


</head>
<body>
    <script type="text/javascript">
    var addthis_config = addthis_config||{};
        addthis_config.data_track_addressbar = false;
        addthis_config.data_track_clickback = false;
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5645cdb2e22ca317" async="async">
    </script>    
    <div id="wrapper" class="noprint">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="noprint">
            <script type="text/javascript">
            /*    document.write("<h1 style=\"background-image: url("+  
                    "{{ wbrequest.wb_prefix }}"+"static/resources/img/arquivoGrey2.png"
                    +")\"> Arquivo.pt </h1>");*/
            </script>
          
              <img alt ="logo" src="{{ wbrequest.wb_prefix }}static/resources/img/arquivoGrey2.png"/>
            
            
            <ul class="sidebar-functions">

                <li>
                    <a id="newSearch" href="" class="search">
                        <script>
                            $('#newSearch').attr('title',Content.newSearch);$('#newSearch').attr('href','{{ wbrequest.user_metadata.search_location }}?l='+Content.language);
                            $('#newSearch').attr('onClick','ga(\'send\', \'event\', \'ReplayBarFunctions\', \'New Search link\', \'arquivo.pt\');');


                        </script>
                        <i class="ion ion-search"></i>
                    </a>
                   <!-- <a href="#" class="search"><i class="ion ion-search"></i></a>-->
                </li>
                <li>
                    <a id="versionsTable" href="" class="versions-table">
                        <script>
                            $('#versionsTable').attr('title',Content.versionsStoredTable);
                            document.getElementById("versionsTable").setAttribute("href","{{ wbrequest.user_metadata.search_location }}/search.jsp?l="+Content.language+"&query="+ "{{ url }}" + "&btnSubmit=Pesquisar");
                            $('#versionsTable').attr('onClick','ga(\'send\', \'event\', \'ReplayBarFunctions\', \'Table of Versions\', \'{{ wbrequest.user_metadata.search_location }}/search.jsp'+Content.language+'&query="{{ url }}&btnSubmit=Pesquisar"\');');
                        </script>
                        <i class="ion ion-grid"></i>
                    </a>                    
                    <!-- <a href="#" class="versions-table"><i class="ion ion-grid"></i></a> -->
                </li>
            </ul>
            <ul class="sidebar-nav" id ="yearList" style="list-style: none;">
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" class="noprint">
            <div id="topbar" class="noprint">
                <div class="url" class="noprint">
                    <p id="update1">                
                        <script type="text/javascript">
                            document.write(truncateUrl("{{url}}"))
                        </script>
                    </p>
                </div>
                <div class="toolbar noprint">
                    <ul class="utilities">


                        <script type="text/javascript">
                            document.write("<li id='screenshot' class=\"save_img\"><a title='"+Content.screenTitle+"' id='a_screenshot' href='' onClick=\"ga('send', 'event', 'ReplayBarFunctions', 'Screenshot', '{{ wbrequest.user_metadata.search_location }}/noFrame/replay/{{ wbrequest.wb_url.timestamp }}/{{url}}');\"><i class=\"ion ion-camera\"></i><\/a><\/li>");
                           //define the href to take the screenShot
                           var urlEncoded = encodeURIComponent('{{ wbrequest.user_metadata.search_location }}/noFrame/replay/{{ wbrequest.wb_url.timestamp }}/{{url}}');
                           $('#a_screenshot').attr('href', '{{ wbrequest.user_metadata.search_location }}/screenshot/?url='+urlEncoded);
                        </script>

                        <!--<li class="print"><a href="#"><i class="ion ion-android-print"></i></a></li>-->

                        <script>
                                //var urlEncoded = encodeURIComponent('{{ wbrequest.user_metadata.search_location }}/noFrame/replay/{{ wbrequest.wb_url.timestamp }}/{{url}}');                   
                                document.write("<li class='print'><a title='"+Content.printTitle+"' id='a_print' href='javascript:getImageToPrint(\""+urlEncoded+"\")'><i class='ion ion-android-print'></i></a></li>");

                        </script>


                        <script>
                            document.write("<li id='facebook_share' class='facebook'><a title='"+Content.faceTitle+"' class='addthis_button_facebook' href='' onClick=\"ga('send', 'event', 'ReplayBarFunctions', 'FacebookShare', '{{ wbrequest.user_metadata.search_location }}/noFrame/replay/{{ wbrequest.wb_url.timestamp }}/{{url}}');\"><i class='ion ion-social-facebook'><\/i><\/a><\/li>");
                        </script>   
                        <script>
                            document.write("<li class='twitter'><a title='"+Content.twitterTitle+"' class='addthis_button_twitter' onClick=\"ga('send', 'event', 'ReplayBarFunctions', 'Twitter', '{{ wbrequest.user_metadata.search_location }}/noFrame/replay/{{ wbrequest.wb_url.timestamp }}/{{url}}');\"><i class='ion ion-social-twitter'></i><\/a><\/li>");
                        </script>
                        <script>
                            document.write('<li class="mail" id="liEmail"><a title="'+Content.mailTitle+'" id="sendEmail" href="mailto:?subject='+Content.emailMessage+'[sub]" onclick="this.href = this.href.replace(\'[sub]\',window.location); ga(\'send\', \'event\', \'ReplayBarFunctions\', \'Email\', \'{{ wbrequest.user_metadata.search_location }}/noFrame/replay/{{ wbrequest.wb_url.timestamp }}/{{url}}\');"><i class="ion ion-email"></i><\/a><\/li>');
                        </script>                        
                       <!-- <li class="mail"><a href="#"><i class="ion ion-email"></i></a></li>-->
                        <li class="help"><a href="#" id="help"><script>document.write(Content.help);$('#help').attr('href', Content.helpHref); $('#help').attr('title',Content.help);</script></a></li>
                        <li class="lang">
                          <script>document.write('<a id="changeLanguage" href="" title="'+Content.changeLanguageTitle+'">');</script>
                          <script>document.write(Content.otherLanguage); $('#changeLanguage').click(function(){ 
                                Cookies.set('language', Content.otherLanguage, { expires: 30, path: '/', domain: 'p27.arquivo.pt'  });
                                window.location.reload();
                                return false; });</script></a>
                        </li>                      
                    </ul>
                </div>
            </div>
            <script>
              updateVersionsOfUrl('{{url}}')
            </script>
            <div class="container-fluid" class = "noprint">
                <iframe style="border: none; position: absolute; height: 847px; width: 100%;" name="replay_iframe" id="replay_iframe" src="{{ wbrequest.wb_prefix + embed_url }}" onload=" iframe_loaded(event);" seamless="seamless" frameborder="0" scrolling="yes" class="wb_iframe noprint" target="_parent">

                <script>
                    window.onunload = function() {
                        // Notify top window of the unload event
                        window.top.postMessage('iframe_change', '*');
                    };
                </script>

                </iframe>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

<script type="text/javascript">
    document.write('<div class="printIframe" id="divPrintMe" style="display: block;"></div>' );
</script>

</body>
</html>