<!DOCTYPE html>

<meta name=viewport content="width=device-width, initial-scale=1">

<html lang="pt" ng-app="ionic">
<head>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-21825027-6', 'auto');
      ga('send', 'pageview');
    </script>


    <script type="text/javascript">
      sideMenuVersion = false;
      printLoading = false;
    </script>

    <!-- Jquery-->
    <script type="text/javascript">
                document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"static/resources/dependencies/jquery-latest.min.js"+ "><\/script>");
    </script>


    <script type="text/javascript">
    document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"static\/resources\/dependencies\/js.cookie.js"+ "><\/script>");
    </script> <!-- Plugin for cookie to choose language-->

    <!-- ionicons-->
    <script type="text/javascript">
                document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"static/resources/dependencies/ionic.bundle.min.js"+ "><\/script>");
    </script>

    <!-- plugin Dialog to Download Screenshot -->
    <script type="text/javascript">
                document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"static/resources/dependencies/remodal.js"+ "><\/script>");
                document.write("<link rel=\"stylesheet\" href={{ wbrequest.wb_prefix }}static/resources/dependencies/remodal.css>");
                document.write("<link rel=\"stylesheet\" href={{ wbrequest.wb_prefix }}static/resources/dependencies/remodal-default-theme.css>");
    </script> 

    <!-- style relative to the dialog plugin - Move this to css in the future -->
    <style> 
      .remodal-bg.with-red-theme.remodal-is-opening,
      .remodal-bg.with-red-theme.remodal-is-opened {
        filter: none;
      }

      .remodal-overlay.with-red-theme {
        background-color: #f44336;
      }

      .remodal.with-red-theme {
        background: #fff;
      }
    </style>
    <!-- Events of the Dialog Plugin - Check if Really Needed -->
    <script>
      $(document).on('opening', '.remodal', function () {
        console.log('opening');
      });

      $(document).on('opened', '.remodal', function () {
        console.log('opened');
      });

      $(document).on('closing', '.remodal', function (e) {
        console.log('closing' + (e.reason ? ', reason: ' + e.reason : ''));
      });

      $(document).on('closed', '.remodal', function (e) {
        console.log('closed' + (e.reason ? ', reason: ' + e.reason : ''));
      });

      $(document).on('confirmation', '.remodal', function () {
        console.log('confirmation');
      });

      $(document).on('cancellation', '.remodal', function () {
        console.log('cancellation');
      });

    </script>

    <script>
        var language = Cookies.get('language');
        if( language == 'EN'){
            document.write('<script type="text/javascript" language="JavaScript" src="'+"{{ wbrequest.wb_prefix }}"+'static/resources/properties/ConstantsEN.js"><\/script>');
        }
        else{
            document.write('<script type="text/javascript" language="JavaScript" src="'+"{{ wbrequest.wb_prefix }}"+'static/resources/properties/ConstantsPT.js"><\/script>');
        }
    </script>
    <!-- Twitter js -->
    <script>
          window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
         
          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };
         
          return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <script type="text/javascript">
      function minimizeMaximize(){
        if($('#hbarMinimized').css('display') == 'none'){
            /*The bar is Expanded - Let's minimize the bar*/
            $('#hbar').css('display','none');
            $('#hbarMinimized').css('display','inline-block');
            /*Hide the Left Side Menu*/
            $('#sidebar-wrapper').css('display','none');

            $("#page-content-wrapper").css("cssText", "width: 100% !important;");
            $("#page-content-wrapper").css("cssText", "left: 0% !important;");


            /*resize vertically*/
            resize();
        }    
        else{ 
            /*The bar is Minimized - Let's expand the bar*/
            $('#hbarMinimized').css('display','none');  
            $('#hbar').css('display','inherit');
            /*resize vertically*/
            resize();            
                     
        }

      }
    </script>

    <script>
        function setLang(lang) {
            hostwithHttp = "{{ wbrequest.user_metadata.search_location }}";
            var cHost = hostwithHttp.substring(7);
            if(lang == 'EN')
             {
                Cookies.set('language', 'EN', { expires: 30, path: '/', domain: cHost  });
                window.location.reload();
             }
            else //default language Portuguese
            {
                Cookies.set('language', 'PT', { expires: 30, path: '/', domain: cHost  });   
                window.location.reload();
            }   
        }
    </script>

    <script type="text/javascript">
    function jumpToVersion (url, currentTs){
        var frameSrc = "{{ wbrequest.wb_prefix }}" + currentTs + 'mp_/' + url;

        $('#a_'+ts).css('font-weight', 'normal') //remove the italic from the previous version
        $('#a_'+ts).removeClass('active-day'); // remove the Selected Day CSS class

        var year = ts.substring(0, 4);
        var month = ts.substring(4, 6);
        var day = ts.substring(6, 8);

        if(day.charAt(0) == '0'){
          day = day.charAt(1);
        }

        $('#'+year).removeClass('active');
        $('#'+year+'_'+month).removeClass('active');
        $('#'+year+'_'+month+'_'+day).removeClass('active');


        ts = currentTs; //update current Timestamp

        year = ts.substring(0, 4);
        month = ts.substring(4, 6);
        day = ts.substring(6, 8);

        if(day.charAt(0) == '0'){
          day = day.charAt(1);
        }

        $('#a_'+ts).css('font-weight','bold'); //italic the new selected timestamp
        $('#a_'+ts).addClass('active-day'); // add the Selected Day CSS class

        $('#'+year).addClass('active');
        $('#'+year+'_'+month).addClass('active');
        $('#'+year+'_'+month+'_'+day).addClass('active');


        $('#replay_iframe').attr('src', frameSrc); //update the iframe to the new version

        sideMenuVersion = true; // TODO:: improve this Dirty hack global var to define a leftMenu version and preserve leftMenu state
    }
    </script>

    <script>
        function createVersion(timestamp, url)
        //add version with timestamp to the left side menu
        {
            if (timestamp.length < 14) {
              console.log("Invalid Timestamp: " + timestamp);
            }
            else{
                    var year = timestamp.substring(0, 4);
                    var month = timestamp.substring(4, 6);
                    var day = timestamp.substring(6, 8);
                    if(day.substring(0,1) == '0')
                        day = day[1]; //remove the 0 in the day just for presentation purposes
                    var hours = timestamp.substring(8, 10);
                    var minutes = timestamp.substring(10, 12);

                if ($('#'+year).length){
                    //year already exists 
                    if($('#'+year+'_'+month).length){
                        
                        if($('#'+year+'_'+month+'_'+day).length){
                        //if day, month and year already exist  
                                          $('#'+'ul_'+year+'_'+month+'_'+day).append(   
                                                    '<li style="list-style: none;" id = "'+timestamp+'">'
                                          +                         ''
                                          +                             '<a onClick="ga(\'send\', \'event\', \'ReplayBarFunctions\', \'Change Version\', \''+url+' '+timestamp+'\'); jumpToVersion(\''+url+'\', \''+timestamp+'\')" href="" title="'+day+' '+Content.months[month] + ', ' + year +'" id = "a_'+timestamp+'">'+hours+':'+minutes+'</a>'
                                          +                         ''
                                          +                 '</li>');                       
                        }
                        else{
                        //if the month and year already exist
                                          $('#'+'ul_'+year+'_'+month).append(
                                                           '<li style="list-style: none;"><a id ="'+year+'_'+month+'_'+day+'" href="#">'+day+'</a>'
                                          +                     '<ul id = "ul_'+year+'_'+month+'_'+day+'" style="list-style: none; padding: 0; margin: 0; display: none;" class="hours">'
                                          +                         '<li style="list-style: none;" id = "'+timestamp+'">'
                                          +                         ''
                                          +                             '<a onClick="ga(\'send\', \'event\', \'ReplayBarFunctions\', \'Change Version\', \''+url+' '+timestamp+'\');jumpToVersion(\''+url+'\', \''+timestamp+'\')" href="" title="'+day+' '+Content.months[month] + ', ' + year +'" id = "a_'+timestamp+'">'+hours+':'+minutes+'</a>'
                                          +                         '</li>'
                                          +                     '</ul>'
                                          +                 '</li>');               

                        }

                    }
                    else{
                        //year already exists, add the month 
                        $('#'+'ul_'+year).append(
                                                    '<li style="list-style: none;"><a id ="'+year+'_'+month+'" href="#">'+Content.months[month]+'</a>'
                                          +             '<ul id = "ul_'+year+'_'+month+'"  style="list-style: none; margin: 0; display: none;" class="days">'
                                          +                 '<li style="list-style: none;"><a id ="'+year+'_'+month+'_'+day+'" href="#" >'+day+'</a>'
                                          +                     '<ul id = "ul_'+year+'_'+month+'_'+day+'"  style="list-style: none; padding: 0; margin: 0; display: none;" class="hours">'
                                          +                         '<li style="list-style: none;" id = "'+timestamp+'">'
                                          +                         ''
                                          +                             '<a onClick="ga(\'send\', \'event\', \'ReplayBarFunctions\', \'Change Version\', \''+url+' '+timestamp+'\');jumpToVersion(\''+url+'\', \''+timestamp+'\')" href="" title="'+day+' '+Content.months[month] + ', ' + year +'" id = "a_'+timestamp+'">'+hours+':'+minutes+'</a>'
                                          +                         '</li>'
                                          +                     '</ul>'
                                          +                 '</li>'
                                          +             '</ul>'
                                          +         '</li>');               

                    }
                }       
                
                else{   
                    $("#yearList").append(
                                            '<li id="toplist">'
                                          +     '<a href="#" id = "'+year+'">' + year +'</a>'
                                          +     '<ul id ="ul_'+year+'" style="list-style: none; display: none;" class="months" >'
                                          +         '<li style="list-style: none;"><a id ="'+year+'_'+month+'" href="#" >'+Content.months[month]+'</a>'
                                          +             '<ul id = "ul_'+year+'_'+month+'"  style="list-style: none; margin: 0; display: none;" class="days">'
                                          +                 '<li style="list-style: none;"><a id ="'+year+'_'+month+'_'+day+'" href="#" >'+day+'</a>'
                                          +                     '<ul id = "ul_'+year+'_'+month+'_'+day+'"  style="list-style: none; padding: 0; margin: 0; display: none;" class="hours">'
                                          +                         '<li style="list-style: none;" id = "'+timestamp+'">'
                                          +                         ''
                                          +                             '<a onClick="ga(\'send\', \'event\', \'ReplayBarFunctions\', \'Change Version\', \''+url+' '+timestamp+'\');jumpToVersion(\''+url+'\', \''+timestamp+'\')" href="" title="'+day+' '+Content.months[month] + ', ' + year +'" id = "a_'+timestamp+'">'+hours+':'+minutes+'</a>'
                                          +                         '</li>'
                                          +                     '</ul>'
                                          +                 '</li>'
                                          +             '</ul>'
                                          +         '</li>'
                                          +    '</ul>'
                                          + '</li>');
                    $("#toplist").css('list-style','none');


                }


            }

            if(ts == timestamp){  //leave the current version open in the side menu

                $('#'+year).addClass('active');
                $('#'+year+'_'+month).addClass('active');
                $('#'+year+'_'+month+'_'+day).addClass('active');
                $('#a_'+timestamp).addClass('active-day');

                $('#ul_'+year).addClass('open');
                $('#ul_'+year+'_'+month).addClass('open');
                $('#ul_'+year+'_'+month+'_'+day).addClass('open');


                $('#ul_'+year).css('list-style','none'); $('#ul_'+year).css('display','block');
                $('#ul_'+year+'_'+month).css('list-style','none'); $('#ul_'+year+'_'+month).css('display','block');
                $('#ul_'+year+'_'+month+'_'+day).css('list-style','none'); $('#ul_'+year+'_'+month+'_'+day).css('display','block');
                $('#a_'+timestamp).css('font-weight','bold');

            }
                
        }
    </script>

    <script>
    function updateVersionsOfUrl(cleanurl)
    {
    /* Uses jquery to make an ajax get request to the Cdx-server api in order to retrieve the list of versions for a specific url */
    var urlsource = cleanurl;
    var timestamp1;
    var url1;

    var requestURL = "{{ wbrequest.wb_prefix }}"+"-cdx"
    var tryCount = 0;
    var retryLimit = 3;

    $.ajax({
    // example request to the cdx-server api - 'http://arquivo.pt/pywb/replay-cdx?url=http://www.sapo.pt/index.html&output=json&fl=url,timestamp'
       url: requestURL,
       data: {
          output: 'json',
          url: urlsource,
          fl: 'url,timestamp',
       },
       error: function() {
         tryCount++;
         if (tryCount <= retryLimit) {
                $.ajax(this);
                return;
            }            
       },
       dataType: 'text',
       success: function(data) {
        $("#yearList").empty();
        $.each(data.split('\n'), function(e){
            if(this != ""){
                var version = jQuery.parseJSON(this);
                createVersion(version.timestamp, version.url); 
            } 
        }); 

       },
       type: 'GET'
    });

    }
    </script>


    <script>
    function getImageToPrint(encodedURLToPrint)
    {
        var requestURL = "{{ wbrequest.user_metadata.search_location }}/print/";
        printLoading = true;
        $.ajax({
        // example request to the cdx-server api - 'http://arquivo.pt/print/?url='
           url: requestURL,
           data: {
              url: encodedURLToPrint
           },
           error: function() {
             top.alert('error printing');
           },
           dataType: 'text',
           success: function(data) {
                var theImage = jQuery.parseJSON(data);
                
                $('#divPrintMe').show();
                if($('#imgToPrint').length){ //if 2nd time user prints only update the image
                    $('#imgToPrint').attr('src','data:image/png;base64,'+theImage.imgBase64);
                }
                else{
                    $('#divPrintMe').append('<img id="imgToPrint" style="display: block;" width=600px src="data:image/png;base64,'+ theImage.imgBase64 + '"/>');                    
                }
                window.print();
                $('#divPrintMe').hide();

           },
           type: 'GET'
        });
    }
    </script>

    <script type="text/javascript">
        document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"{{ static_path }}/wb.js"+ "><\/script>");
        document.write("<link rel='stylesheet' href ='"+ "{{ wbrequest.wb_prefix }}"+"{{ static_path }}/wb.css'"+ "\/>");
        document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"{{ static_path }}/wb_frame.js"+ "><\/script>");
    </script> 

    <script>
      wbinfo = {}
      wbinfo.prefix = "{{ wbrequest.wb_prefix }}";
      wbinfo.capture_url = "{{ url }}";
      wbinfo.timestamp = "{{ wbrequest.wb_url.timestamp }}";
      ts = wbinfo.timestamp; //TODO:: maybe in the future remove this variable and use only the above
      wbinfo.is_frame = true;
      wbinfo.frame_mod = "{{ wbrequest.options.frame_mod }}";
      wbinfo.replay_mod = "{{ wbrequest.options.replay_mod }}";
    </script>

    {% include banner_html ignore missing %}

    <!-- Overwriting pywb set_state function in order to properly update our toolbar when iframe changes-->
<script>
function set_state(state) {
    // current url
    url = state.url;
    var truncatedUrl = truncateUrl(url);
    $("#update1").text(truncatedUrl);
    $("#update2").text(truncatedUrl);
 
    $('#update1').attr('title', url);
    $("#update2").attr('title', url);  

    $("#update1").attr('href',url);
    $("#update2").attr('href',url); 

    ts = state.timestamp; //global variable timestamp

    ga('set', 'page', '/wayback/'+ ts + '/'+ url);
    ga('send', 'pageview');    

    //update the date on minimized bar
    $('#timeMinimized').html(getDatets()+'<span> '+Content.at+' </span>'+getHoursMinutes()+'<span> GMT </span>');                      

    var urlEncoded = encodeURIComponent('{{ wbrequest.user_metadata.search_location }}/noFrame/replay/'+ts+'/'+url);
    $('#dlImgLink').attr('onClick', 'window.open(\'{{ wbrequest.user_metadata.search_location }}/screenshot/?url='+urlEncoded+'\')')

    /*Update Reconstruct anchor*/
    $('#a_reconstruct').attr('href', 'http://timetravel.mementoweb.org/reconstruct/'+ts+'/'+url);

    $('#a_print').attr('href','javascript:getImageToPrint("'+urlEncoded+'")');
   
    theurl= '{{wbrequest.wb_prefix}}'+ts+'/'+url;
    addthis.update('share', 'url', theurl);

    var title = $("#replay_iframe").contents().find("meta[property='og:title']").attr("content");
    if(title === undefined || title === null) // there is no og:title meta tag in this iframe
    {
        title = $("#replay_iframe").contents().find("title").html(); //search for a title tag in the iframe
        if (!title.length){ //there is no title
            //top.alert("No title");
            title = Content.shareMessage;
        }
    }
    title = title + Content.preservedByArquivo;
    document.title = title;

    addthis.update('share', 'title', title);
    addthis.toolbox('.addthis_toolbox', addthis_config, addthis_share);
    $('meta[property="og:url"]').attr('content', theurl);

    //List the versions of current url in the side bar
    if(sideMenuVersion != true){ // TODO:: improve this Dirty hack global var to define a leftMenu version and preserve leftMenu state
        //top.alert("Updating the Versions on the Side Menu :)");
        setTimeout(updateVersionsOfUrl(url), 800000);
       // updateVersionsOfUrl(url);
    }
    sideMenuVersion =false;

    //the following code is the original code of pywb...
    var capture_info = document.getElementById("_wb_capture_info");
    if (capture_info) {
        capture_info.innerHTML = state.capture_str;
    }

    var label = document.getElementById("_wb_label");
    if (label) {
        if (state.is_live) {
            label.innerHTML = _wb_js.banner_labels.LIVE_MSG;
        } else {
            label.innerHTML = _wb_js.banner_labels.REPLAY_MSG;
        }
    }
    curr_state = state;
}
</script>
<!--end pywb changes -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Arquivo.pt</title>
    <link rel="shortcut icon" href="http://arquivo.pt/img/logo-16.jpg" type="image/x-icon">

    <!-- Custom CSS -->
    <script>
        document.write("<link href=\""+ "{{ wbrequest.wb_prefix }}"+"static/resources/css/screen.css\" rel =\"stylesheet\" >");
    </script>
    <!--<link href="css/screen.css" rel="stylesheet">-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
      function getDatets(){
                    var year = ts.substring(0, 4);
                    var month = ts.substring(4, 6);
                    var day = ts.substring(6, 8);
                    if(day.charAt(0) == '0'){
                      day = day.charAt(1);
                    }

        return day+" "+ Content.months[month]+", "+year
      }
    </script>
    <script type="text/javascript">
      function getHoursMinutes(){
          var hours= ts.substring(8,10);
          var minutes= ts.substring(10,12);
          return hours+":"+minutes
      }
    </script>

    <script>
    /*Truncates large URL in the replay bar*/
    function truncateUrl(url)
    {   /*remove https and http*/
        if(url.substring(0, "https://".length) === "https://"){
          url = url.substring(8,url.length);
        }else if (url.substring(0, "http://".length) === "http://"){
          url = url.substring(7,url.length);
        }       
        if (url.length > 40){
                var newUrl = url.substring(0, 26) + "..."+ url.substring((url.length - 11),url.length);
                return newUrl;
        }
        else
            return url
    }
    </script>
    <script type="text/javascript">
      function resize() {
        var expanded=false;
        if($('#hbarMinimized').css('display') == 'none')
            expanded=true; /*The bar is Expanded*/ 


        if(window.innerWidth >= 1024){
          if(expanded){
              $('#sidebar-wrapper').css("height", (window.innerHeight - $('#toolBar').height())  +"px");
              $('#iframeBox').css("height", (window.innerHeight - $('#toolBar').height())  +"px");
              $('#iframeBox').css("width", (window.innerWidth*.84)  +"px");
              $('#sidebar-wrapper').css('display','inherit');
              $("#page-content-wrapper").css("cssText", "width: 84% !important;");
              $("#page-content-wrapper").css("cssText", "left: 16% !important;");

          }
          else{ /*The bar is minimized*/
              $('#iframeBox').css("height", (window.innerHeight - $('#hbarMinimized').height())  +"px");
              $('#iframeBox').css("width", (window.innerWidth)  +"px");
              $('#timeMinimized').show();            
          }    
        }

        else if(window.innerWidth < 1024 && window.innerWidth > 600){
          if(expanded){
              $('#sidebar-wrapper').css("height", (window.innerHeight - $('#toolBar').height())  +"px");
              $('#iframeBox').css("height", (window.innerHeight - $('#toolBar').height())  +"px");      
              $('#iframeBox').css("width", window.innerWidth  +"px");
              $('#sidebar-wrapper').css('display','none');
              $("#page-content-wrapper").css("cssText", "width: 100% !important;");
              $("#page-content-wrapper").css("cssText", "left: 0% !important;");
          }
          else{/*The bar is minimized*/
              $('#iframeBox').css("height", (window.innerHeight - $('#hbarMinimized').height())  +"px");      
              $('#iframeBox').css("width", window.innerWidth  +"px");
              $('#timeMinimized').show();
              if(window.innerWidth < 750){ /* Hide the date if between 600 and 750*/
                $('#timeMinimized').hide();
              }  

          }                    
        }

        else if(window.innerWidth <= 600 ){
          var newPrefix = "{{ wbrequest.wb_prefix }}".replace("wayback", "noFrame/replay");
          window.location.replace(newPrefix+ts+"/"+"{{url}}");
          //redirecting to the noFrame version
        }
      }
    </script>


    <script type="text/javascript">
        $(document).ready(function() {     
            var language = Cookies.get('language');
            if (! ('ontouchstart' in document.documentElement)) {
                // if you are not in a touch device (hide scroll on the div in top of the iframe)
                $('#iframeBox').css('overflow-y','hidden');
            }

            $(document).on('click', '#yearList > li > a, #yearList > li > ul > li > a', function() {
                if ($(this).next().hasClass('open')) {
                    $(this).removeClass('activeItem');
                    $(this).next().slideUp('fast').removeClass('open');
                    $(this).parent().css('list-style','none');                      
                } else {
                    $(this).addClass('activeItem');
                    $(this).next().slideDown('fast').addClass('open');
                    $(this).parent().css('list-style','none');
                    $(this).parent().off('hover');  
                    $(this).off('hover');
                }
                return false;
            });
            
            //special case clicking on the day load the first version of that day
            $(document).on('click', '#yearList > li > ul > li > ul > li > a', function() {
                if ($(this).next().hasClass('open')) {
                    $(this).removeClass('activeItem');
                    $(this).next().slideUp('fast').removeClass('open');
                    $(this).parent().css('list-style','none');                      
                } else {
                    $(this).addClass('activeItem');
                    $(this).next().slideDown('fast').addClass('open');
                    $(this).parent().css('list-style','none');
                    $(this).parent().off('hover');  
                    $(this).off('hover');
                    /*Removed span after li:first*/
                    var versiontoGoTo = $(this).next().find('> li:first > a').attr("id");
                    $('#'+versiontoGoTo).click();               

                }
                return false;
            });             
        
            var mode = 0;
            resize(); 

            window.onresize = resize;

        });
    </script>


</head>
<body >  
    <script type="text/javascript">
    var addthis_config = addthis_config||{};
        addthis_config.data_track_addressbar = false;
        addthis_config.data_track_clickback = false;
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5645cdb2e22ca317" async="async">
    </script>
    <div id="page">
            <div id="pageWrapper" style="height: 100%; position:absolute;">
              <div id="topbar" class="noprint">
                <div id="hbarMinimized">
                        <div id="logoDivMinimized"><img id="logoMinimized" src="{{ wbrequest.wb_prefix }}static/resources/img/AWP_200_100.png" width="40px" alt="Arquivo.pt"></img></div>
                        <div id="urlDivMinimized"><a id="update2" href="" target="_blank">                
                            <script type="text/javascript">
                                document.write(truncateUrl("{{url}}"));
                                $("#update2").attr('title', "{{url}}");
                            </script></a>
                        </div>
                        <div id="timeDivMinimized">
                          <script>
                            document.write('<p id="timeMinimized">'+getDatets()+'<span> '+Content.at+' </span>'+getHoursMinutes()+'<span> GMT </span>'+'</p>');
                          </script>
                        </div>
                </div>
                  <!--the below anchor is the button to minimize/maximize the replayBars it is a fixed element -->
                  <a href="#" onclick="minimizeMaximize()" id ="minimizeOrMaximize"><img src="{{wbrequest.wb_prefix}}static/resources/img/icon_minimize.png" style="    position: fixed; top: 0.3em; right: 0.5em;
height: 40px;"/></a>                  
                  <div id="hbar">
                    <div class="logoDiv" id="logodiv">
                      <a>
                        <script type="text/javascript">
                          document.write('<a href="{{ wbrequest.user_metadata.search_location }}?l='+Content.language+'">');
                        </script>
                                             
                        <img id="arquivoImg" alt ="logo" src="{{ wbrequest.wb_prefix }}static/resources/img/ArquivoVertical100.png" /> 
                        <script type="text/javascript"> document.write("</a>")</script> 
                    </div>  
                    <div class="url" id = "urlTopbarDiv" class="noprint">
                        <a id="update1" href="" target="_blank">                
                            <script type="text/javascript">
                                document.write(truncateUrl("{{url}}"));
                                $("#update1").attr('title', "{{url}}");
                            </script>
                        </a>
                    </div>

                    <div class="toolbar noprint" id="toolBar">
                      <ul class="utilities" id="utilitiesUl">
                          <script type="text/javascript">
                              document.write("<li id='reconstruct' class=\"\" style='padding-right:2em;'><a title='"+Content.completePage+"' id='a_reconstruct' href='http://timetravel.mementoweb.org/reconstruct/{{ wbrequest.wb_url.timestamp }}/{{url}}' target=\"_blank\" onClick=\"\"><img id=\"reconstructImg\" src=\"{{wbrequest.wb_prefix}}static/resources/img/reconstruct.png\"/><\/a><\/li>");
                          </script>

                          <script type="text/javascript">
                              document.write("<li id='screenshot'><a title='"+Content.screenTitle+"' id='a_screenshot' href='#downloadImage' onClick=\"ga('send', 'event', 'ReplayBarFunctions', 'Screenshot', '{{ wbrequest.user_metadata.search_location }}/noFrame/replay/{{ wbrequest.wb_url.timestamp }}/{{url}}');\"><i class=\"ion ion-camera\"></i><\/a><\/li>");
                          </script>

                          <script>
                                  var urlEncoded = encodeURIComponent('{{ wbrequest.user_metadata.search_location }}/noFrame/replay/{{ wbrequest.wb_url.timestamp }}/{{url}}');                   
                                  document.write("<li class='print' id='printLi'><a title='"+Content.printTitle+"' id='a_print' href='javascript:getImageToPrint(\""+urlEncoded+"\")'><i id='printIon' class='ion ion-android-print menu-icon'></i></a><ion-spinner icon='android' class='spinner spinner-android' id='printLoading' style='display:none'></li>");
                          </script>

                          <script>
                              document.write("<li id='facebook_share' class='facebook' title=''><a class='addthis_button_facebook' title='"+Content.faceTitle+"'  href='' onClick=\"ga('send', 'event', 'ReplayBarFunctions', 'FacebookShare', '{{ wbrequest.user_metadata.search_location }}/noFrame/replay/{{ wbrequest.wb_url.timestamp }}/{{url}}');\"><i class='ion ion-social-facebook'><\/i><\/a><\/li>");
                          </script>   
                          <script>
                              document.write("<li class='twitter'><a title='"+Content.twitterTitle+"' class=' addthis_button_twitter' onClick=\"ga('send', 'event', 'ReplayBarFunctions', 'Twitter', '{{ wbrequest.user_metadata.search_location }}/noFrame/replay/{{ wbrequest.wb_url.timestamp }}/{{url}}');\"><i class='ion ion-social-twitter'></i><\/a><\/li>");
                          </script>
                          <script>
                              document.write('<li class="mail" id="liEmail"><a title="'+Content.mailTitle+'" id="sendEmail" href="mailto:?subject='+Content.emailMessage+'[sub]" onclick="this.href = this.href.replace(\'[sub]\',document.title + \'%0D%0A'+ getDatets() +'%0D%0A %0D%0A\' + window.location ); ga(\'send\', \'event\', \'ReplayBarFunctions\', \'Email\', \'{{ wbrequest.user_metadata.search_location }}/noFrame/replay/{{ wbrequest.wb_url.timestamp }}/{{url}}\');"><i class="ion ion-email"></i><\/a><\/li>');
                          </script>

                          <li class="lang">
                            <script>document.write('<a id="changeLanguage" href="" title="'+Content.changeLanguageTitle+'">');</script>
                            <script>
                                document.write(Content.otherLanguage); $('#changeLanguage').click(function(){ 
                                  var httpURLTokens = "{{ wbrequest.user_metadata.search_location }}".toString().split("/");
                                  Cookies.set('language', Content.otherLanguage, { expires: 30, path: '/', domain: httpURLTokens[2]  });
                                  window.location.reload();
                                  return false; });</script></a>
                          </li>                      
                      </ul>
                  </div>
                </div>  

        <!-- Page Content -->
        <div id="page-content-wrapper" class="noprint">
            <script>
              setTimeout(updateVersionsOfUrl('{{url}}'), 800000);
              //updateVersionsOfUrl('{{url}}')
            </script>
           
                <script type="text/javascript">
                  document.write('<div id="iframeBox" class="container-fluid" class = "noprint" style="height: '+(window.innerHeight - $('#toolBar').height()) +'px;"><iframe style="background-color: #fff;border-left: 1px solid #fff; border-right:none; border-top:none;border-bottom:none; height:100%; width: 100%;" name="replay_iframe" id="replay_iframe" src="{{ wbrequest.wb_prefix + embed_url }}" onload=" iframe_loaded(event);" seamless="seamless" frameborder="0" scrolling="yes" class="wb_iframe noprint" target="_parent" >')
                </script>
                

                <script>
                    window.onunload = function() {
                        // Notify top window of the unload event
                        window.top.postMessage('iframe_change', '*');
                    };
                </script>

                </iframe>
            </div>
        </div>

    <div id="wrapper" class="noprint">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="noprint">
          <script>
            $('#sidebar-wrapper').css("height", (window.innerHeight - $('#toolBar').height())  +"px");
          </script>

              <div class="remodal" data-remodal-id="downloadImage" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
                <div>
                  <script type="text/javascript">document.write('<h2 id="modal1Title">'+Content.downloadPopup+'</h2>')</script>              
                </div>
                <br>

                <script type="text/javascript">document.write('<button data-remodal-action="confirm" class="home-submit" id="dlImgLink">'+Content.downloadMessage+'</button>')</script>
                <script type="text/javascript">document.write('<button data-remodal-action="cancel" class="cancel-download" id="dlImgLink">'+Content.downloadCancel+'</button>')</script>                        
              </div>

              <ul class="sidebar-functions">

                            <li id="tableofVersionsSpinnerLi"><ion-spinner icon="android" class="spinner spinner-android" id="tableofVersionsSpinner"></ion-spinner></li>
                            <li id="sidebarli">
                              <script type="text/javascript">document.write('<a id="versionsTable" href="" class="versions-table" title="'+Content.versionsStoredTable+'" style="text-decoration:none;color:#fff">')</script>
                                    <script>
                                        document.getElementById("versionsTable").setAttribute("href","{{ wbrequest.user_metadata.search_location }}/search.jsp?l="+Content.language+"&query="+ "{{ url }}" + "&btnSubmit=Pesquisar");
                                        $('#versionsTable').attr('onClick','ga(\'send\', \'event\', \'ReplayBarFunctions\', \'Table of Versions\', \'{{ wbrequest.user_metadata.search_location }}/search.jsp'+Content.language+'&query="{{ url }}&btnSubmit=Pesquisar"\');');
                                    </script>
                                    <i class="ion ion-grid" style=""></i>
                                      <script type="text/javascript">
                                        document.write('<span id="tableOfVersionsSpan" style="vertical-align: bottom">'+Content.table+'</span>');
                                      </script>
                                </a>                    
                            </li>
                </ul>                     
                          <script>
                             $(document)
                               .ajaxStart(function () {
                                  if(!printLoading){
                                    $('#tableofVersionsSpinnerLi').css('display','block');
                                  }
                                  else{                                    
                                    $('#a_print').hide();
                                    $('#printLoading').show();
                                  }  
                               })
                             .ajaxStop(function () {
                                  if(!printLoading){
                                    $('#tableofVersionsSpinnerLi').css('display','none');
                                  }
                                  else{
                                    $('#printLoading').hide();
                                    $('#a_print').show();          
                                    printLoading="false";                                    
                                  }
                              });
                          </script>
            <ul class="sidebar-nav" id ="yearList" style="list-style: none;">
            </ul>
        </div>
        <script type="text/javascript">/*$('#scroll-area').getNiceScroll().resize();*/</script>
        <!-- /#sidebar-wrapper -->

    </div>

  </div>
    <!-- /#wrapper -->
            </div>
          </div>  
          
<script type="text/javascript">
    document.write('<div class="printIframe" id="divPrintMe" style="display: block;"></div>' );
</script>

</body>
</html>