<!DOCTYPE html>

<meta name=viewport content="width=device-width, initial-scale=1">

<html lang="pt" ng-app="ionic">
<head>
	<!-- Google Analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-21825027-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script>
      wbinfo = {}
      wbinfo.prefix = "{{ wbrequest.wb_prefix }}";
      wbinfo.capture_url = "{{ url }}";
      wbinfo.timestamp = "{{ wbrequest.wb_url.timestamp }}";
      ts = wbinfo.timestamp; //TODO:: maybe in the future remove this variable and use only the above
      wbinfo.is_frame = true;
      wbinfo.frame_mod = "{{ wbrequest.options.frame_mod }}";
      wbinfo.replay_mod = "{{ wbrequest.options.replay_mod }}";
      wbinfo.search_location= "{{ wbrequest.user_metadata.search_location }}";
    </script>

    {% include banner_html ignore missing %}

    <!-- Jquery-->
    <script type="text/javascript">
                document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"static/resources/dependencies/jquery-latest.min.js"+ "><\/script>");
    </script>


    <script type="text/javascript">
    document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"static\/resources\/dependencies\/js.cookie.js"+ "><\/script>");
    </script> <!-- Plugin for cookie to choose language-->

    <!-- Javascript code for this page-->
    <script type="text/javascript" src="{{ wbrequest.wb_prefix }}static/resources/js/frameInsert.js"> </script>

    <!-- ionicons-->
    <script type="text/javascript">
                document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"static/resources/dependencies/ionic.bundle.min.js"+ "><\/script>");
    </script>

    <!-- plugin Dialog to Download Screenshot -->
    <script type="text/javascript">
                document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"static/resources/dependencies/remodal.js"+ "><\/script>");
                document.write("<link rel=\"stylesheet\" href={{ wbrequest.wb_prefix }}static/resources/dependencies/remodal.css>");
                document.write("<link rel=\"stylesheet\" href={{ wbrequest.wb_prefix }}static/resources/dependencies/remodal-default-theme.css>");
    </script> 

    <!-- Events of the Dialog Plugin - Check if Really Needed -->
    <script>
    </script>

    <script>
        var language = Cookies.get('language');
        if( language == 'EN'){
        	$('html').attr('lang', 'en');
            document.write('<script type="text/javascript" language="JavaScript" src="'+"{{ wbrequest.wb_prefix }}"+'static/resources/properties/ConstantsEN.js?release=Hercules"><\/script>');
        }
        else{
        	$('html').attr('lang', 'pt');
            document.write('<script type="text/javascript" language="JavaScript" src="'+"{{ wbrequest.wb_prefix }}"+'static/resources/properties/ConstantsPT.js?release=Hercules"><\/script>');
        }
    </script>
    <!-- Twitter js -->
    <script>
          window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
         
          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };
         
          return t;
        }(document, "script", "twitter-wjs"));
    </script>

    <script type="text/javascript">
        document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"{{ static_path }}/wb.js"+ "><\/script>");
        document.write("<link rel='stylesheet' href ='"+ "{{ wbrequest.wb_prefix }}"+"{{ static_path }}/wb.css'"+ "\/>");
        document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"{{ static_path }}/wb_frame.js"+ "><\/script>");
    </script> 

    <!-- Overwriting pywb set_state function in order to properly update our toolbar when iframe changes-->
<script>
function set_state(state) {
    // current url
    url = state.url;
    wbinfo.capture_url = state.url;
    var truncatedUrl = truncateUrl(url);
    $("#update1").text(truncatedUrl);
    $("#update2").text(truncatedUrl);
 
    $('#update1').attr('title', url);
    $("#update2").attr('title', url);  

    $("#update1").attr('href',url);
    $("#update2").attr('href',url); 

    ts = state.timestamp; //global variable timestamp

    ga('set', 'page', '/wayback/'+ ts + '/'+ url);
    ga('send', 'pageview');    

    //update the date on minimized bar
    $('#timeMinimized').html(getDatets()+'<span> '+Content.at+' </span>'+getHoursMinutes()+'<span> GMT </span>');                      
    var urlEncoded = encodeURIComponent('{{ wbrequest.user_metadata.search_location }}/noFrame/replay/'+ts+'/'+url);
    $('#dlImgLink').attr('onClick', 'window.open(\'{{ wbrequest.user_metadata.search_location }}/screenshot/?url='+urlEncoded+'\')');

    /*Update Reconstruct anchor*/
    $('#a_reconstruct').attr('href', 'http://timetravel.mementoweb.org/reconstruct/'+ts+'/'+url);

    $('#a_print').attr('href','javascript:getImageToPrint("'+urlEncoded+'")');
   
    theurl= '{{wbrequest.wb_prefix}}'+ts+'/'+url;
    addthis.update('share', 'url', theurl);

    var title = $("#replay_iframe").contents().find("meta[property='og:title']").attr("content");
    if(title === undefined || title === null) // there is no og:title meta tag in this iframe
    {
        title = $("#replay_iframe").contents().find("title").html(); //search for a title tag in the iframe
        if (!title.length){ //there is no title
            //top.alert("No title");
            title = Content.shareMessage;
        }
    }
    title = title + Content.preservedByArquivo;
    document.title = title;

    addthis.update('share', 'title', title);
    addthis.toolbox('.addthis_toolbox', addthis_config, addthis_share);
    $('meta[property="og:url"]').attr('content', theurl);

    //List the versions of current url in the side bar
    if(sideMenuVersion != true){ // TODO:: improve this Dirty hack global var to define a leftMenu version and preserve leftMenu state
        //top.alert("Updating the Versions on the Side Menu :)");
        setTimeout(updateVersionsOfUrl(url), 800000);
       // updateVersionsOfUrl(url);
    }
    sideMenuVersion =false;

    //the following code is the original code of pywb...
    var capture_info = document.getElementById("_wb_capture_info");
    if (capture_info) {
        capture_info.innerHTML = state.capture_str;
    }

    var label = document.getElementById("_wb_label");
    if (label) {
        if (state.is_live) {
            label.innerHTML = _wb_js.banner_labels.LIVE_MSG;
        } else {
            label.innerHTML = _wb_js.banner_labels.REPLAY_MSG;
        }
    }
    curr_state = state;
}
</script>
<!--end pywb changes -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Arquivo.pt</title>
    <link rel="shortcut icon" href="http://arquivo.pt/img/logo-16.jpg" type="image/x-icon">

    <!-- Custom CSS -->
    <script>
        document.write("<link href=\""+ "{{ wbrequest.wb_prefix }}"+"static/resources/css/screen.css?release=Janus\" rel =\"stylesheet\" >");
    </script>
    <!--<link href="css/screen.css" rel="stylesheet">-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body >  
    <script type="text/javascript">
    var addthis_config = addthis_config||{};
        addthis_config.data_track_addressbar = false;
        addthis_config.data_track_clickback = false;
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5645cdb2e22ca317" async="async">
    </script>
    <div id="page">
            <div id="pageWrapper" style="height: 100%; position:absolute;">
              <div id="topbar" class="noprint">
                <div id="hbarMinimized">
                        <div id="logoDivMinimized"><img id="logoMinimized" src="{{ wbrequest.wb_prefix }}static/resources/img/AWP_200_100.png" width="40px" alt="Arquivo.pt"></img></div>
                        <div id="urlDivMinimized"><a id="update2" href="" target="_blank">                
                            <script type="text/javascript">
                                document.write(truncateUrl("{{url}}"));
                                $("#update2").attr('title', "{{url}}");
                            </script></a>
                        </div>
                        <div id="timeDivMinimized">
                          <script>
                            document.write('<p id="timeMinimized">'+getDatets()+'<span> '+Content.at+' </span>'+getHoursMinutes()+'<span> GMT </span>'+'</p>');
                          </script>
                        </div>
                </div>
                  <!--the below anchor is the button to minimize/maximize the replayBars it is a fixed element -->
                  <script type="text/javascript">
                  	document.write('<a href="#" onclick="minimizeMaximize()" id ="minimizeOrMaximize" title="'+Content.minimizeMaximizeTitle+'"><img src="{{wbrequest.wb_prefix}}static/resources/img/icon_minimize.png" style="    position: fixed; top: 0.3em; right: 0.5em; height: 40px;" alt="'+Content.minimizeMaximizeIcon+'" /></a> ')
                  </script>
          
                  <div id="hbar">
                    <div class="logoDiv" id="logodiv">
                      <a>
                        <script type="text/javascript">
                          document.write('<a href="{{ wbrequest.user_metadata.search_location }}?l='+Content.language+'">');
                        </script>
                                             
                        <img id="arquivoImg" alt ="Arquivo.pt logo" title="Arquivo.pt homepage" src="{{ wbrequest.wb_prefix }}static/resources/img/arquivo100v.png" /> 
                        <script type="text/javascript"> document.write("</a>")</script> 
                    </div>  
                    <div class="url" id = "urlTopbarDiv" class="noprint">
                        <a id="update1" href="" target="_blank">                
                            <script type="text/javascript">
                                document.write(truncateUrl("{{url}}"));
                                $("#update1").attr('title', "{{url}}");
                            </script>
                        </a>
                    </div>

                    <div class="toolbar noprint" id="toolBar">
                      <ul class="utilities" id="utilitiesUl">
                          <script type="text/javascript">
                              document.write("<li id='reconstruct' class=\"\" style='padding-right:2em;'><a title='"+Content.completePage+"' id='a_reconstruct' href='http://timetravel.mementoweb.org/reconstruct/{{ wbrequest.wb_url.timestamp }}/{{url}}' target=\"_blank\" onClick=\"\"><img id=\"reconstructImg\" alt=\""+Content.reconstructImg+"\" src=\"{{wbrequest.wb_prefix}}static/resources/img/reconstruct.png\"/><\/a><\/li>");
                          </script>

                          <script type="text/javascript">
                              document.write("<li id='screenshot'><a title='"+Content.screenTitle+"' id='a_screenshot' href='#downloadImage' onClick=\"ga('send', 'event', 'ReplayBarFunctions', 'Screenshot', '{{ wbrequest.user_metadata.search_location }}/noFrame/replay/{{ wbrequest.wb_url.timestamp }}/{{url}}');\"><i alt=\""+Content.screenshotIcon+"\" class=\"ion ion-camera\"></i><\/a><\/li>");
                          </script>

                          <script>
                                  var urlEncoded = encodeURIComponent('{{ wbrequest.user_metadata.search_location }}/noFrame/replay/{{ wbrequest.wb_url.timestamp }}/{{url}}');                   
                                  document.write("<li class='print' id='printLi'><a title='"+Content.printTitle+"' id='a_print' href='javascript:getImageToPrint(\""+urlEncoded+"\")'><i id='printIon' alt=\""+Content.printIcon+"\" class='ion ion-android-print menu-icon'></i></a><ion-spinner icon='android' class='spinner spinner-android' id='printLoading' style='display:none'></li>");
                          </script>

                          <script>
                              document.write("<li id='facebook_share' class='facebook' title=''><a class='addthis_button_facebook' title='"+Content.faceTitle+"'  href='' onClick=\"ga('send', 'event', 'ReplayBarFunctions', 'FacebookShare', '{{ wbrequest.user_metadata.search_location }}/noFrame/replay/{{ wbrequest.wb_url.timestamp }}/{{url}}');\"><i class='ion ion-social-facebook' alt=\""+Content.facebookIcon+"\"><\/i><\/a><\/li>");
                          </script>   
                          <script>
                              document.write("<li class='twitter'><a title='"+Content.twitterTitle+"' class=' addthis_button_twitter' onClick=\"ga('send', 'event', 'ReplayBarFunctions', 'Twitter', '{{ wbrequest.user_metadata.search_location }}/noFrame/replay/{{ wbrequest.wb_url.timestamp }}/{{url}}');\"><i class='ion ion-social-twitter' alt=\""+Content.twitterIcon+"\" ></i><\/a><\/li>");
                          </script>
                          <script>
                              document.write('<li class="mail" id="liEmail"><a title="'+Content.mailTitle+'" id="sendEmail" href="mailto:?subject='+Content.emailMessage+'[sub]" onclick="this.href = this.href.replace(\'[sub]\',document.title + \'%0D%0A'+ getDatets() +'%0D%0A %0D%0A\' + window.location ); ga(\'send\', \'event\', \'ReplayBarFunctions\', \'Email\', \'{{ wbrequest.user_metadata.search_location }}/noFrame/replay/{{ wbrequest.wb_url.timestamp }}/{{url}}\');"><i class="ion ion-email" alt=\"'+Content.emailIcon+'\"></i><\/a><\/li>');
                          </script>

                          <li class="lang">
                            <script>document.write('<a id="changeLanguage" href="" title="'+Content.changeLanguageTitle+'">');</script>
                            <script>
                                document.write(Content.otherLanguage); $('#changeLanguage').click(function(){ 
                                  var httpURLTokens = "{{ wbrequest.user_metadata.search_location }}".toString().split("/");
                                  Cookies.set('language', Content.otherLanguage, { expires: 30, path: '/', domain: httpURLTokens[2]  });
                                  window.location.reload();
                                  return false; });</script></a>
                          </li>                      
                      </ul>
                  </div>
                </div>  

        <!-- Page Content -->
        <div id="page-content-wrapper" class="noprint">
            <script>
              setTimeout(updateVersionsOfUrl('{{url}}'), 800000);
            </script>
           
                <script type="text/javascript">
                  document.write('<div id="iframeBox" class="container-fluid" class = "noprint" style="height: '+(window.innerHeight - $('#toolBar').height()) +'px;"><iframe style="background-color: #fff;border-left: 1px solid #fff; border-right:none; border-top:none;border-bottom:none; height:100%; width: 100%;" name="replay_iframe" id="replay_iframe" src="{{ wbrequest.wb_prefix + embed_url }}" onload=" iframe_loaded(event);" seamless="seamless" frameborder="0" scrolling="yes" class="wb_iframe noprint" target="_parent" >')
                </script>
                
                <script>
                    window.onunload = function() {
                        // Notify top window of the unload event
                        window.top.postMessage('iframe_change', '*');
                    };
                </script>

                </iframe>
            </div>
        </div>

    <div id="wrapper" class="noprint">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="noprint">
          <script>
            $('#sidebar-wrapper').css("height", (window.innerHeight - $('#toolBar').height())  +"px");
          </script>

              <div class="remodal" data-remodal-id="downloadImage" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
                <div>
                  <script type="text/javascript">document.write('<h2 id="modal1Title">'+Content.downloadPopup+'</h2>')</script>              
                </div>
                <br>

                <script type="text/javascript">document.write('<button data-remodal-action="confirm" class="home-submit" id="dlImgLink">'+Content.downloadMessage+'</button>')</script>
                <script type="text/javascript">document.write('<button data-remodal-action="cancel" class="cancel-download" id="dlImgLink">'+Content.downloadCancel+'</button>')</script>                        
              </div>

              <ul class="sidebar-functions">

                            <li id="tableofVersionsSpinnerLi"><ion-spinner icon="android" class="spinner spinner-android" id="tableofVersionsSpinner"></ion-spinner></li>
                            <li id="sidebarli">
                              <script type="text/javascript">document.write('<a id="versionsTable" href="" class="versions-table" title="'+Content.versionsStoredTable+'" style="text-decoration:none;color:#fff">')</script>
                                    <script>
                                        document.getElementById("versionsTable").setAttribute("href","{{ wbrequest.user_metadata.search_location }}/search.jsp?l="+Content.language+"&query="+ "{{ url }}" + "&btnSubmit=Pesquisar");
                                        $('#versionsTable').attr('onClick','ga(\'send\', \'event\', \'ReplayBarFunctions\', \'Table of Versions\', \'{{ wbrequest.user_metadata.search_location }}/search.jsp'+Content.language+'&query="{{ url }}&btnSubmit=Pesquisar"\');');
                                    </script>
                                    
                                      <script type="text/javascript">
                                        document.write('<i alt="'+Content.iongrid+'"  class="ion ion-grid" style=""></i><span id="tableOfVersionsSpan" style="vertical-align: bottom">'+Content.table+'</span>');
                                      </script>
                                </a>                    
                            </li>
                </ul>                     
            <ul class="sidebar-nav" id ="yearList" style="list-style: none;">
            </ul>
        </div>
        <script type="text/javascript">/*$('#scroll-area').getNiceScroll().resize();*/</script>
        <!-- /#sidebar-wrapper -->

    </div>

  </div>
    <!-- /#wrapper -->
            </div>
          </div>  
          
<script type="text/javascript">
    document.write('<div class="printIframe" id="divPrintMe" style="display: block;"></div>' );
</script>

</body>
</html>