<script>
        document.write("<link href=\""+ "{{ wbrequest.wb_prefix }}"+"static/resources/css/Style.css\" rel =\"stylesheet\" >");
</script>

<style>
.home-submit{
    float: none!important;
    background: url("http://p27.arquivo.pt/img/search-submit.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    height: 36px;
    text-align: center;
    text-decoration: none;
    width: 228px;
    background-size: 228px;
    cursor: pointer;
    font: 150% 'Helvetica', Arial, sans;
}
.imgClass{
	display: block; 
	margin: auto;
	padding-top: 5%;
	width: 75px;
}

.notArchived{
	font-size: 1.6em; color: #000; 
	margin-top: 5px;
	margin-bottom: 25px; 
	font: 180% 'Helvetica', Arial, sans;
}

</style>

<script type="text/javascript">
document.write("<script src="+ "{{ wbrequest.wb_prefix }}"+"static\/resources\/dependencies\/js.cookie.js"+ "><\/script>");
</script> <!-- Plugin for cookie to choose language-->
<script>
	var language = Cookies.get('language');
	if( language == 'EN'){
		document.write('<script type="text/javascript" language="JavaScript" src="'+'{{ wbrequest.wb_prefix }}'+'static/resources/properties/ConstantsEN.js"><\/script>');
	}
	else{
		document.write('<script type="text/javascript" language="JavaScript" src="'+'{{ wbrequest.wb_prefix }}'+'static/resources/properties/ConstantsPT.js"><\/script>');
	}
</script>
<script type="text/javascript">
var tokens = window.location.toString().split('/');
theURL = '';
var i;
for( i = 5; i<tokens.length; i ++){
	if(i == 5){
		theURL = tokens[i];
	}
	else{
		theURL= theURL + "/" + tokens[i];
	}
}

document.write('<a href="{{ wbrequest.user_metadata.search_location }}?l='+ Content.language +'"><img src="{{ wbrequest.wb_prefix }}static/resources/AWP_200_100.png" class="imgClass" /></a>');

	//tirar depois o h2
	document.write('<h2 align="center" class="notArchived">'+ Content.notArchived+'</h2>'); 

document.write('<div style="text-align:center"><button type="button" class="home-submit" onclick="window.open(\'http://timetravel.mementoweb.org/memento/'+tokens[4]+'/'+theURL+'\')">'+Content.otherArchives+'</button></div>');
</script>
