<!doctype html>
<html lang="pt">

<head>
    <title>Página não encontrada (404) - Arquivo.pt</title>
    <link rel="icon" href="{{ static_prefix }}/img/Favicon.ico">
    <link rel="stylesheet" href="{{ static_prefix }}/css/404Style.min.css"></script>
    <link rel="stylesheet" href="{{ static_prefix }}/css/myStyle.min.css"></script>
    <link rel="stylesheet" href="{{ static_prefix }}/css/bootstrap.min.css">
    <meta charset="utf-8" />
    <meta name="Keywords" content="Web, archive, search, portuguese, Portugal, homepage" />
    <meta name="Description" content="A página procurada não foi encontrada no Arquivo.pt" />
    <!-- starts social media meta data -->
    <meta property="og:title" content="Página não encontrada (404) - Arquivo.pt" />
    <meta property="og:description" content="A página procurada não foi encontrada no Arquivo.pt" />
    <meta property="og:image" content="img/logoFace.png" />
    <meta property="og:image:alt" content="Arquivo.pt">
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <meta property="og:type" content="website" />
    <!-- ends social media meta data -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ static_prefix }}/js/jquery-latest.min.js"></script>
    <script src="{{ static_prefix }}/js/uglipop.min.js"></script>
    <!-- starts javascript files, Google Font and CSS links -->
    <!-- starts css styles links -->
    <script>
        const cookies = Object.fromEntries(document.cookie.split('; ').map(c => c.split('=')));
        let language = cookies.i18n;
        if (!!language) {
            language = language.split('_')[0].toUpperCase();
            localStorage.language = language;
        }
        language = localStorage.language;
        language = language == 'EN' ? 'EN' : 'PT';
        _language = language.toLowerCase();
        document.write('<script type="text/javascript" language="JavaScript" src="{{ static_prefix }}/properties/Constants' + language + '.js"><\/script>');
    </script>

</head>

<!-- starts document body content -->

<body id="arquivo-404" class="arquivo-404-cl">
    <script type="text/javascript">
        var tokens = window.location.toString().split('/');
        theURL = '';
        var i;
        for (i = 5; i < tokens.length; i++) {
            if (i == 5) {
                theURL = tokens[i];
            }
            else {
                theURL = theURL + "/" + tokens[i];
            }
        }

        document.write('<div id="pageIsNotArchived"><a href="///?l=' + Content.language + '"><img src="{{ static_prefix }}/img/logoFace.png" class="imgClass" /></a>');
        document.write('<h3>' + Content.notArchived + '</h3>');
        document.write('<ul>');
        document.write('<li class="list-title">&#x2192; ' + Content.weSuggest + '</li>');
        document.write('<li class="fix-padding">' + Content.firstSuggestion + '</li>');
        document.write('<li>' + Content.secondSuggestion + '</li>');
        document.write('<li>' + Content.thirdSuggestion + '</li>');
        document.write('</ul>');

        $('#otherArchives').on('click', function (e) {

            /*gtag('event', 'ReplayBarFunctions', { "action": 'Search Other Archives Click', "label": 'http://arquivo.pt/'+_ts+'/'+_url } );*/
            uglipop({
                class: 'modalReplay noprint', //styling class for Modal
                source: 'html',
                content: '<h4 class="modalTitleComplete"><i class="fa fa-print" aria-hidden="true"></i> ' + Content.otherArchives + '</h4><p class="modalparagraph last">' + Content.leavingArquivo + '</p>' +
                    '<div class="row"><a id="searchOtherArchives" onclick="gtag(\'event\', \'ReplayBarFunctions\', { "action":\'Search Other Archives Click\', "label": \'arquivo.pt/' + tokens[4] + '/' + theURL + '\' } );" class="col-xs-6 text-center leftAnchor modalOptions">OK</a><a id="cancelPopup" class="col-xs-6 text-center modalOptions">' + Content.cancel + '</a></div>'
            });
            /*Closing popup*/
            $('#cancelPopup').on('click', function (e) {
                $('#uglipop_content_fixed').fadeOut();
                $('#uglipop_overlay').fadeOut('fast');
            });
            /*Confirm searching other archives*/
            $('#searchOtherArchives').on('click', function (e) {
                window.open(Content.otherArchivesURL + '/' + tokens[4] + '/' + theURL);
                $('#uglipop_overlay').fadeOut('fast');
            });

        });
        $('#archiveNow').on('click', function (e) {
            window.open(Content.archivePageNowURL);
        });
        $('#suggestToArquivo').on('click', function (e) {
            window.open(Content.suggestURL);
        });

    </script>

</body>
<!-- ends document body content -->

</html>